<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.hetima.Xcode6PluginBase</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds an Xcode6-compatible plugin.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.osxBase</string>
		<string>com.hetima.ClassPrefix</string>
		<string>com.hetima.PrefixHeader</string>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>Frameworks</key>
			<array>
				<string>AppKit</string>
				<string>Foundation</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>INSTALL_PATH</key>
				<string>/Library/Application Support/Developer/Shared/Xcode/Plug-ins</string>
				<key>WRAPPER_EXTENSION</key>
				<string>xcplugin</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
				<key>DEPLOYMENT_LOCATION</key>
				<string>YES</string>
				<key>DSTROOT</key>
				<string>$(HOME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___VARIABLE_classPrefix:identifier______PACKAGENAME___.h</string>
		<string>___VARIABLE_classPrefix:identifier______PACKAGENAME___.m</string>
		<string>Info.plist:xcplugin</string>
		<string>Info.plist:DVTPlugInCompatibilityUUIDs:Xcode61</string>
		<string>Info.plist:DVTPlugInCompatibilityUUIDs:Xcode51</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier______PACKAGENAME___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAME___.h</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier______PACKAGENAME___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAME___.m</string>
		</dict>
		<key>Info.plist:xcplugin</key>
		<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;English&lt;/string&gt;
&lt;key&gt;CFBundleIconFile&lt;/key&gt;
&lt;string&gt;&lt;/string&gt;
&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;BNDL&lt;/string&gt;
&lt;key&gt;XCGCReady&lt;/key&gt;
&lt;false/&gt;
&lt;key&gt;XCPluginHasUI&lt;/key&gt;
&lt;false/&gt;
&lt;key&gt;XC4Compatible&lt;/key&gt;
&lt;true/&gt;
&lt;key&gt;XC5Compatible&lt;/key&gt;
&lt;true/&gt;
&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;___VARIABLE_classPrefix:identifier______PACKAGENAME___&lt;/string&gt;
</string>
		<key>Info.plist:DVTPlugInCompatibilityUUIDs</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;key&gt;DVTPlugInCompatibilityUUIDs&lt;/key&gt;
&lt;array&gt;
</string>
			<key>End</key>
			<string>&lt;/array&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>Info.plist:DVTPlugInCompatibilityUUIDs:Xcode61</key>
		<string>&lt;string&gt;C4A681B0-4A26-480E-93EC-1218098B9AA0&lt;/string&gt;</string>
	</dict>

	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>com_hetima_Xcode6PluginBase_support51</string>
			<key>SortOrder</key>
			<integer>10</integer>
			<key>Name</key>
			<string>Xcode 5.1 Compatibility</string>
			<key>Description</key>
			<string>add DVTPlugInCompatibilityUUID of Xcode 5.1</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>Info.plist:DVTPlugInCompatibilityUUIDs:Xcode51</key>
							<string>&lt;string&gt;A2E4D43F-41F4-4FB9-BB94-7177011C9AED&lt;/string&gt;</string>
						</dict>
					</dict>
				</array>
				<key>false</key>
				<array>
					<dict>
						<key>Definitions</key>
						<dict>
							<key>Info.plist:DVTPlugInCompatibilityUUIDs:Xcode51</key>
							<string></string>
						</dict>
					</dict>
				</array>
			</dict>
		</dict>
		


	</array>


</dict>
</plist>
