<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.hetima.SimblPluginBase</string>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template builds a SIMBL plugin.</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.macosx</string>
	</array>
	<key>Ancestors</key>
	<array>
		<string>com.apple.dt.unit.bundleBase</string>
		<string>com.apple.dt.unit.osxBase</string>
		<string>com.hetima.ClassPrefix</string>
		<string>com.hetima.PrefixHeader</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>SIMBLTargetApp</string>
			<key>Name</key>
			<string>Target App Bundle ID</string>
			<key>Description</key>
			<string>CFBundleIdentifier of target application</string>
			<key>Type</key>
			<string>text</string>
			<key>Placeholder</key>
			<string>com.apple.Safari</string>
		</dict>
	</array>
	<key>Targets</key>
	<array>
		<dict>
			<key>ProductType</key>
			<string>com.apple.product-type.bundle</string>
			<key>Frameworks</key>
			<array>
				<string>AppKit</string>
				<string>Foundation</string>
			</array>
			<key>SharedSettings</key>
			<dict>
				<key>INSTALL_PATH</key>
				<string>/Library/Application Support/SIMBL/Plugins</string>
				<key>WRAPPER_EXTENSION</key>
				<string>bundle</string>
				<key>COMBINE_HIDPI_IMAGES</key>
				<string>YES</string>
				<key>DEPLOYMENT_LOCATION</key>
				<string>YES</string>
				<key>DSTROOT</key>
				<string>$(HOME)</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>Sources</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Frameworks</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>Resources</string>
				</dict>
			</array>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>___VARIABLE_classPrefix:identifier______PACKAGENAME___.h</string>
		<string>___VARIABLE_classPrefix:identifier______PACKAGENAME___.m</string>
		<string>Info.plist:bundle</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>___VARIABLE_classPrefix:identifier______PACKAGENAME___.h</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAME___.h</string>
		</dict>
		<key>___VARIABLE_classPrefix:identifier______PACKAGENAME___.m</key>
		<dict>
			<key>Path</key>
			<string>___PACKAGENAME___.m</string>
		</dict>
		<key>Info.plist:bundle</key>
		<string>&lt;key&gt;CFBundleDevelopmentRegion&lt;/key&gt;
&lt;string&gt;English&lt;/string&gt;
&lt;key&gt;CFBundleIconFile&lt;/key&gt;
&lt;string&gt;&lt;/string&gt;
&lt;key&gt;CFBundleInfoDictionaryVersion&lt;/key&gt;
&lt;string&gt;6.0&lt;/string&gt;
&lt;key&gt;CFBundlePackageType&lt;/key&gt;
&lt;string&gt;BNDL&lt;/string&gt;
&lt;key&gt;NSPrincipalClass&lt;/key&gt;
&lt;string&gt;___VARIABLE_classPrefix:identifier______PACKAGENAME___&lt;/string&gt;
&lt;key&gt;SIMBLTargetApplications&lt;/key&gt;
&lt;array&gt;
&lt;dict&gt;
&lt;key&gt;BundleIdentifier&lt;/key&gt;
&lt;string&gt;___VARIABLE_SIMBLTargetApp___&lt;/string&gt;
&lt;key&gt;MinBundleVersion&lt;/key&gt;
&lt;integer&gt;0&lt;/integer&gt;
&lt;/dict&gt;
&lt;/array&gt;</string>
	</dict>
</dict>
</plist>
